@media screen and (max-width: 576px) {


    .nav-menu,
    .nav-container,
    .nav-anchor,
    .we-are-gamer-container,
    .play-instantly-container {
        flex-direction: column;
    }


    .body {
        text-align: center;
    }

    h1,
    h4,
    h5{
    font-size: 2rem;
    text-align: center;
}

.-section {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 3rem;

}

h3 {
    text-align: center;

}

p {
    text-align: center;
    font-size: 1rem;
}

.-container {
    padding: 0px;
}

.logo>.Site-logo{
    margin-left: 20px;
}


.nav-container{
    padding-top: 10px;
    margin: 0px auto;
    padding-right: 80px;
}


.logo-title{
    padding-left: 50px;
}
.logo-title{
    

}

.we-are-gamer-section {
    padding: 0px;
}


.hero-container {
    flex-direction: column-reverse;
}

.nav-menu li {
    margin: 25px 0px;
}


.logo-title {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.logo {
    text-align: center;
}



.hero-column2>img {

    width: 80vw;
}

.banner-section {
    background-image: none;
}

.banner-container {
    flex-direction: column-reverse;
    padding: 20px 40px;
}

.hero-column1 {
    background-image: url('../images/Group\ 14.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
    padding: 70px 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.hero-column1,
{
width: 100%;
}

.btn-primary,
.btn-secondary {
    padding: 18px 30px;
    font-size: 16px;


}

.hero-column1>.hero-text{
    text-align: center;
}



/* --we-are-gamer-section-- */

.we-are-gamer-column1 img {
    text-align: center;      
    width: 80vw;
}


.we-are-gamer-column2 p {
    text-align: center;
    font-size: 1rem;
}

.btn-gamer {
    text-align: center;
}

.unleash {
    font-size: 1.2rem;
}

/* --Online games related styles-- */

.online-games-section h6 {
    padding: 20px 0px 0px 0px;
}

h6,
.gradient-text {
    font-size: 2rem;
}


.card-items {
    flex-direction: column;
}

.online-games-text {
    width: 80%;
    margin: auto auto;
}

.card-hover-box {
    width: 100%;
}

.games-funny-videos {
    padding: 0px 40px;
}

.card-hover-box .card-caption {
    text-align: center;
}

.card-hover-box:hover .overlay-watch-icon {
    height: 80%;
}

/*-------play-instantly-section-------- */


.play-instantly-column1> h3 {
    text-align: center;
    font-size: 2rem;

}
.play-instantly-column1> h6{
    text-align: center;
    font-size: 2rem;
}

.play-instantly-column1 p{
    text-align: center;
    width: 80%;
    margin: 0px auto;
}

.instant-p{
    width: 80;
}
.play-instantly-column1{
    width: 80%;
    

}
.play-instantly-container{
    padding: 0px;
    margin: 0px;
    gap:0px;
  width: 100%;
}
.play-instantly-column1{
    padding: 0px;
    width: 100%;
}

.play-instantly-column2{
    width: 100%;
    padding-bottom: 200px;
}


.play-instantly-column2 img{
    width: 80%;
    margin-top: 20px;
    margin-left: 25px;
    
  }

  .inside-img img{
    width: 45%;
    margin-left: 45px;
    margin-top: -150px;
  }




  /* ------Footer-section----- */


.footer-section,
.social-icons-div,
.footer-menu-div,
.terms-div{
    width: 100%;
    margin: 0 auto;
    align-items: center;
}


  .footer-menu-div,.terms-container,.social-icons-div{
    flex-direction: column;

    }

    .B8A2,h1{
        font-size: 2rem;
    }
  

    .social-icons-div2{
        margin: 0px;
    }
    
    .terms-div2
    {
        margin: 0px;
        padding: 0px;
    }
.footer-menu-div2{
    margin: 0px;
    padding: 0px;
}

    .terms-container{
        padding-left: 30px;
    }
    .footer-menu li{
  
        list-style: none;
       margin: 0px;
       padding: 0px;
       margin: 20px;
    }


.social-icons-div1>img,.social-icons-div2>img{
  
    margin: 20px;
}

.social-icons-div{
    margin-left: 10px;
}

.terms-div1 li{
    margin: 0px;
    padding: 0px;
    margin-right:20px ;

}
.terms-div2 li{
    margin: 0px;
    padding: 0px;
    margin-right:30px ;

}

.t


.footer-container{
    padding-right: 30px;
}



.copyright{
    padding-top: 60px;
}







}

















@media screen and (min-width:577px) and (max-width: 960px) {

    .nav-menu,
    .nav-container,
    .nav-anchor {
        flex-direction: column;
    }

    .nav-menu li {
        margin: 25px 0px;
    }

    .btn-primary,
    .btn-secondary {
        padding: 18px 30px;
        font-size: 16px;











    }
























}