    /* -font- */
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
    font-family: 'Work Sans';
    /* --common sheared styles-- */

    *{
        margin: 0px;
        padding: 0px;
    }




    body {
        font-family: 'work sans';
        margin: 0px;
        padding: 0px;
    }


    /* global shared styles */



    h2 {

        text-align: left;
        font-size: 4rem;
        font-weight: 800;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
    }



    h3 {
        font-size: 3rem;
        font-weight: 700;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;

    }


    h4 {

        font-weight: 700;
        line-height: 60px;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
    }


    h6 {
        color: #0B0223;
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
    }

    .B8A2 {
        color: #FF42A5;
    }

    .gradient-text {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
    }

   

    p {
        color: #534C64;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 30px;

    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left
    }

    .right {
        text-align: right;
    }



    .btn-primary {

        padding: 21px 40px;
        gap: 10px;
        border-radius: 48px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        border: none;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }


    .btn-secondary {
        padding: 21px 40px;
        gap: 10px;
        border-radius: 48px;
        background: #4EC5F7;
        border: none;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;

    }

    .btn-primary:hover,
    .btn-secondary:hover {
        opacity: 0.7;
    }


    /* nav related styles */
    .header-section {}

    .header-nav-container {
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }

    .nav-container {
        max-width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo {
        margin: auto 0px;
    }


    .nav-container .logo img {
        margin-right: 20px;
    }



    .logo-title {
        display: flex;

    }


    h1 {
        font-size: 45px;
        font-weight: 700;
    }

    

    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .nav-menu li {
        list-style: none;
        margin-left: 30px;

    }

    .nav-menu li a {
        color: #3C354F;
        text-decoration: none;
    }

    .nav-menu .flow-us-btn {
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        padding: 17px 24px;
    }

    .nav-menu .flow-us-btn a .fa-youtube {
        color: #F61C0D;
    }

    .nav-menu .flow-us-btn a .fa-tiktok {
        color: #000;
        outline-color: #08FFF9;
    }



    /* Hero-related-styles */

    .hero-section {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url(../images/Group\ 14.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;

    }

    .hero-container {
        display: flex;
        width: 80%;
        margin: 0px auto;
        justify-content: space-between;
    }

    .hero-column1 {
        margin: auto 0px;





    }



    .hero-column1>.hero-text {
        color: #0B0223;
        text-align: left;
        font-size: 2rem;
        font-weight: 700;
        margin: 0px;

    }


    .p2 {

        font-size: 1rem;
        font-weight: 500;
        text-align: left;
    }

    .btn-div {
        display: flex;
        justify-content: space-between;

    }




    .hero-column2>img {

        width: 34vw;

    }

    .btn-div {
        padding-top: 20px;


    }









    /* --we-are-gamer-section-- */
    .we-are-gamer-section {
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        padding-top: 70px;
        padding-bottom: 30px;
    }


    .we-are-gamer-column1 {
        margin: auto 0px;

    }

    .we-are-gamer-container {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 0px auto;
        padding: 10px 0px;

    }


    .we-are-gamer-column1>img {

        width: 44vw;
        margin-top: 60px;
    }

    .btn-gamer {
        text-align: right;
    }

    .gamer-info-div {
        text-align: right;
    }

    .we-are-gamer-info {
        font-size: 24px;
        font-weight: 500;
        line-height: 45px;
    }

    .unleash {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 45px;

    }



    /* --online-games-section-- */

    .online-games-section{
        padding-bottom: 40px;
    }

    .online-games-section h6 {
        margin: 0px auto;
        width: 80%;
        padding: 70px 0px 30px 0px;
    }

    .card {
        margin: 30px auto 0px;
        width: 80%;


    }


    .card-items {
        display: flex;
        gap: 20px;
    }

    .card-hover-box {
        width: 258px;
        position: relative;
       

    }

    .card-hover-box img {
        width: 100%;
    }

    .card-hover-box>img:hover {
        border: 3px solid #FF42A5;
        border-radius: 12px;
    }

    .card-hover-box .card-caption {
        font-size: 16px;
        color: #aaaaaa;
        text-align: left;
    }

    .overlay-watch-icon {
        position: absolute;
        display: none;
        top: 100px;

        border-radius: 10px;

    }

    .overlay-watch-icon img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    .overlay-watch-icon p {
        color: #FF42A5;
        font-weight: bold;
       margin-left: -10px;
    }

    .card-hover-box:hover .overlay-watch-icon {
        display: block;
        background-color: #130000b7;
        height: 75%;
        cursor: pointer;
        margin-top: -100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }




    /* -----play-instantly-section----- */
    .play-instantly-container {
        display: flex;
        width: 80%;
        margin: 0px auto;
        padding-bottom: 70px;
        margin-bottom: 70px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .play-instantly-column1{
        width: 40%;
        padding-right: 300px;
    }
    
 
 .play-instantly-column1 h6{ margin: 0px
    
    ;

 }
    .play-instantly-column1 p{
        margin top: 20px;

    }
    .play-instantly-column2{
        width: 50%;
        position: relative;
    }
    .play-instantly-column2 > img{
        width: 100%;
    }
    .play-instantly-column2 .inside-img{
        position: absolute;
        top: 60%;
        left: -30%;
    }
    .inside-img img{
        width: 70%;
    }

     .play-instantly-column1{
        padding-right: 30px;
     }



/* -------------- */

.games-catagory-link-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 120px;
}
.games-catagory-container{
    padding:100px 0px;
    max-width: var(--container-width);
    margin:var(--container-margin);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.catagory-btn{
    border-radius: 50px;
    background: #FFF;
    padding: 10px 10px;
    padding-right: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
.catagory-btn p{
    color: #0B0223;
    font-size: 14px;
    font-weight: 600;
}
.catagory-btn:hover{
    border-radius: 50px;
    border: 2px solid #FF42A5;
    cursor: pointer;
    padding: 8px 8px;
    padding-right: 18px;
}
.catagory-btn:hover p{
    color: #FF42A5;
}


















/* ----Footer-section------- */
.footer-section{
    display: flex;
    justify-content: center;
    background: #0B0223;
    color: #fff;
}
.footer-container{
    padding:100px 0px;
    margin:0 auto;
    text-align: center;
}

.logo>img{
    width: 90px;
    height: auto;
}



.logo-site-title{
    width: max-content;
    display: flex;
    margin: 0px auto;
    gap: 20px;
}

.footer-container .logo h2{
    font-size: 45px;
    font-weight: 700;
}
.footer-container .logo h2 span{
    color: #ff42a5;
}
.footer-menu{
    display: flex;
}

.footer-container p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: -24px;
}
.footer-menu li{
    list-style: none;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-menu li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.footer-menu li a:hover{
    color: #FF42A5;

}

.social-icons-div1>img,.social-icons-div2>img{
    margin-left: 30px;
}
.terms-menu li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: -24px;
}
.footer-menu-div,.terms-container{
    display: flex;
 
  
}
.social-icons-div{
    gap: 0px;
    justify-content: space-evenly;
    display: flex;
    margin: 0px auto;
    width: 80%;
}

.social-icons-div2{
    margin-left: -80px;
}

.footer-menu-div2,.terms-div2{
    margin-left: -40px;
}



